.modal {
    font-size: 12px;
    background-color: #232323;
    border-radius: 10px;
    position: relative;
}

.modal>.header {
    width: 100%;
    color: #ffffff;
    border-bottom: 3px solid rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.modal>.content {
    color: #ffffff;
    width: 100%;
    padding: 10px 5px;
    border-left: 3px;
    border-right: 3px;
}

.modal>.actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.modal>.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #000000;
    border-radius: 18px;
    border: 1px solid #000000;
}
